In [2]:
# Cresr un conjunto vac√≠o
conjunto_vacio = set()

# Crear un conjunto con elementos
conjunto_con_elementos = {1,2,3}

In [7]:
conjunto_con_elementos.add(4)
print(conjunto_con_elementos)

{1, 2, 3, 4}

In [8]:
conjunto_con_elementos.add(0)
print(conjunto_con_elementos)

{0, 1, 2, 3, 4}

In [9]:
conjunto_con_elementos.add("h")
print(conjunto_con_elementos)

{0, 1, 2, 3, 4, 'h'}

In [10]:
conjunto_con_elementos.add("a")
print(conjunto_con_elementos)

{0, 1, 2, 3, 4, 'a', 'h'}

In [11]:
conjunto_con_elementos.add("z")
print(conjunto_con_elementos)

{0, 1, 2, 3, 4, 'a', 'z', 'h'}

In [12]:
grupo = {"Eder", "Emilia", "Diana"}

In [13]:
"Eder" in grupo

True

In [15]:
"Maria" in grupo

False

In [16]:
"Emilia" not in grupo

False

Los conjuntos no poseen elementos repetidos

In [17]:
texto = {"Eder", "Eder", "Eder"}

In [18]:
print(texto)

{'Eder'}

Convertir listas u otros arreglos en conjuntos

In [19]:
lista = [1,2,3,3,2,1]

In [20]:
c = set(lista)
print(c)

{1, 2, 3}

Convertir una lista en set y nuevamente en lista en una misma linea

In [24]:
listaa = [3,4,5,5,4,3]
listaaa = list(set(listaa))
print(listaaa)

[3, 4, 5]

In [26]:
frase = "Al pan pan y al vino vino"
conj = set(frase)
print(conj)

{'y', 'a', 'n', 'v', 'i', 'p', ' ', 'l', 'A', 'o'}